body {
    background-color: #c7aea8;
}

.page-content {
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#Actors {
    list-style-position: inside;
    padding: 0;
    text-align: center;
}

#CoverArt {
    display: block;
    margin: 20px auto;
    width: 300px; 
    height: auto; 
}
